.habit {
	margin-bottom: 30px;
	animation: zoomIn 0.6s;
	background-color: #fff;
}

.habitHeader {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;

	img:not(.deleteHabit) {
		border-radius: 5px;
		padding: 2px;
	}

	.deleteHabit {
		margin-left: auto;
		animation: bellshake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both 0.2s;
	}

	.habitName {
		font-weight: 700;
		font-size: 24px;
		color: #000;
		max-width: 15ch;
		word-wrap: break-word;
	}
}

.habitPlan {
	display: flex;
	align-items: center;
	justify-content: space-between;

	button {
		user-select: none;
		border-radius: 50%;
		border: 2px solid #000;
		opacity: 40%;
		height: 40px;
		width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		transition: opacity 0.3s ease-out;
		font-weight: 700;

		span {
			color: #000;
		}

		img {
			display: none;
		}

		&.checked {
			background-color: #000;
			border: none;
			opacity: 100%;

			img {
				display: inline-block;
			}

			span {
				display: none;
			}
		}
	}
}

@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale(0.5);
	}
	65% {
		opacity: 0.8;
		transform: scale(1.15);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes bellshake {
	0% {
		transform: rotate(0);
	}
	15% {
		transform: rotate(7deg);
	}
	30% {
		transform: rotate(-7deg);
	}
	45% {
		transform: rotate(2deg);
	}
	60% {
		transform: rotate(-2deg);
	}
	75% {
		transform: rotate(4deg);
	}
	85% {
		transform: rotate(-4deg);
	}
	92% {
		transform: rotate(1deg);
	}
	100% {
		transform: rotate(0);
	}
}
