.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	color: #000;

	.headerButtons {
		display: flex;
		align-items: center;
		column-gap: 5px;

		.edit {
			width: 45px;
			height: 45px;
			outline: none;
			border: 0;
			user-select: none;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #fff;
			
			img {
				transition: rotate 0.3s ease;
			}

			&.rotate img {
				rotate: -90deg;
			}
		}

		.addHabit {
			display: flex;
			align-items: center;
			justify-content: center;
			outline: none;
			border: 0;
			font-size: 45px;
			width: 45px;
			height: 45px;
			background-color: #fff;
			font-weight: 700;
			user-select: none;

			span {
				transition: rotate 0.3s ease;
			}

			&.rotate span {
				rotate: 45deg;
			}
		}
	}
}

.form {
	position: absolute;
	top: 72px;
	right: 50%;
	translate: 50%;
	display: none;
	animation: zoomIn 0.6s;

	&.open {
		display: block;
	}
}

@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale(0.5);
	}
	65% {
		opacity: 0.8;
		transform: scale(1.15);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.inputHabitName {
	outline: none;
	padding: 20px 30px;
	padding-right: 75px;
	border-radius: 5px;
	font-size: 18px;
	background-color: rgba(255, 255, 255, 0.95);

	&::placeholder {
		padding-left: 3px;
	}
}

.addHabitButton {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	outline: none;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: #000;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
